Repository Genometric/MSPC, pull requests merged in 2021-02, with the labels that each got.

#138 Change the target framework from .NET Core 3.x to .NET 5.x.
  .travis.yml
  CLI.Tests/CLI.Tests.csproj
  CLI/CLI.csproj
  Core.Tests/Core.Tests.csproj
  Core/Core.csproj
  website/docs/installation.md
  website/docs/quick_start.md
Labels: .NET, documentation, enhancement

#137 Wrapper function
  RWrapper/Wrapper_function.R
Labels: enhancement, wrapper

#143 Set ExitCode according to the termination status
  CLI.Tests/Main.cs
  CLI/Orchestrator.cs
  CLI/Program.cs
Labels: enhancement, unit test

#144 Adjust maximum value of C according to the number of given input samples
  CLI.Tests/CLI.Tests.csproj
  CLI.Tests/CLIOptions.cs
  CLI.Tests/Main.cs
  CLI/CLI.csproj
  CLI/CommandLineOptions.cs
  CLI/Logging/Logger.cs
  CLI/Orchestrator.cs
Labels: enhancement, unit test
